/* global resets */
* { margin:0; padding:0;}

/* bootstrap resets */
[class*='col-'] {
    padding:0;
    margin:0;
}
[class*='row'] {
    padding:0;
    margin:0;
}

html {
    background-color: #1B1140;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 4em;
    line-height: 1;
    color: #0E0326;

}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    color: #0E0326;
}

#day-title {
    padding-bottom: 32px;
    margin: 0px;
}

.entrySource {
    font-style: italic;
    padding-top: 1em;
}

/* full page columns */
.calendar-column
{
    background-color: thistle;
    height:100vh;
    padding: 32px;
    margin: 0;
}

.text-column
{
    background-color: #0E0326;
    height:100vh;
    margin: 0;
    overflow-y: scroll;
}

.text-container
{
    padding: 32px;
    margin: 32px;
    background-color: #FFDC95;

}

img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 32px;
}

.logo-container{
    width: 4em;
    margin: auto;
    margin-bottom: 32px;
}

svg {
    stroke:#FFDC95;
    transition: ease .5s;
}

svg:hover {
    transform: rotate(30deg);
    opacity: 0.3;
    transition: ease .2s;
}
