/* global resets */
* { margin:0; padding:0;}

/* bootstrap resets */
[class*='col-'] {
    padding:0;
    margin:0;
}
[class*='row'] {
    padding:0;
    margin:0;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

html {
    background-color: #1B1140;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 4em;
    line-height: 1;
    color: #0E0326;

}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    color: #0E0326;
}

#day-title {
    padding-bottom: 32px;
    margin: 0px;
}

.entrySource {
    font-style: italic;
    padding-top: 1em;
}

/* full page columns */
.calendar-column
{
    background-color: thistle;
    height:100vh;
    padding: 32px;
    margin: 0;
}

.text-column
{
    background-color: #0E0326;
    height:100vh;
    margin: 0;
    overflow-y: scroll;
}

.text-container
{
    padding: 32px;
    margin: 32px;
    background-color: #FFDC95;

}

img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 32px;
}

.logo-container{
    width: 4em;
    margin: auto;
    margin-bottom: 32px;
}

svg {
    stroke:#FFDC95;
    transition: ease .5s;
}

svg:hover {
    transform: rotate(30deg);
    opacity: 0.3;
    transition: ease .2s;
}

.calendar-img-up-to {
  z-index: 999;
}

.calendar-img-single {
  z-index:998;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.calendar-img-single {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fade-in.calendar-img-up-to {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.fade-in.text-container {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay:2.5s;
  animation-delay: 2.5s;
}

.fade-in.logo-container {
  -webkit-animation-delay: 3s;
  -moz-animation-delay:3s;
  animation-delay: 3s;
}
